@charset "utf-8";

body{
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("../img/backprogrammation.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center center;
}

/* Container */
h2{
	display: none;
}
#title{
	font-family: RubikMonoOne-Regular;
	font-size: 4vw;
	margin-top: 40px;
}
#moving-title{
	font-family: RubikMonoOne-Regular;
	color: black;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 0.5s steps(9, end) forwards;
}
#moving-title:after{
	content: '_';
	animation: blinking 1s infinite;
}
@keyframes typing {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinking {
from { color: transparent; }
to { color: black; }
}
#container-interets{
	position: relative;
	height: 100vh;
	padding: 100px 50px;
	margin: auto;
}
#menu-interets ul{
	list-style-type: none;
	margin: 0;
	padding: 0px;
	display: flex;
}
#menu-interets ul li{
	float: left;
	position: relative;
	width: 25%;
	min-width: 15%;
	padding: 15px 30px;
	text-decoration: none;
	color: #fff;
	background-color: rgba(65,65,65,0.7);
	text-align: center;
	font-family: Montserrat-Bold;
	transition: all 0.2s;
	cursor: pointer;
}
#menu-interets ul li:hover{
	transition: all 0.2s;
	background-color: rgb(150,150,150);
}
#contenu-onglet{
	width: 100%;
	height: 40vh;
	background-color: rgba(65,65,65,0.7);
	float: left;
	font-family: Ubuntu;
	color: #fff;
}
#contenu-onglet a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#contenu-programmation, #contenu-sports{
	padding-top: 20px;
	padding-left: 50px;
}

@media screen and (max-width: 1240px){
	body{
		overflow-y: visible;
	}
	#menu-interets{
		visibility: hidden;
	}
	#contenu-onglet{
		height: 70vh;
		min-height: 500px;
		margin-bottom: 20px;
	}
	#contenu-programmation::before{
		content: "Programmation";
		font-family: Montserrat-Bold;
	}
	#contenu-sports::before{
		content: "Sports";
		font-family: Montserrat-Bold;
	}
	#contenu-voyages::before{
		content: "Voyages";
		font-family: Montserrat-Bold;
	}
	#contenu-loisirs::before{
		content: "Loisirs";
		font-family: Montserrat-Bold;
	}
}
/* /Container */