@charset "utf-8";

body{
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("../img/backcompetences.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center center;
}

/* Container */
h2{
	display: none;
}
#title{
	font-family: RubikMonoOne-Regular;
	font-size: 4vw;
	margin-top: 40px;
}
#moving-title{
	font-family: RubikMonoOne-Regular;
	color: black;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 0.5s steps(9, end) forwards;
}
#moving-title:after{
	content: '_';
	animation: blinking 1s infinite;
}
@keyframes typing {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinking {
from { color: transparent; }
to { color: black; }
}
h3{
	font-family: RubikMonoOne-Regular;
	font-size: 1.2vw;
	margin: 50px 0px 0px;
	min-height: 50px;
	text-align: center;
}
#container-competences{
	width: 93%;
	position: relative;
	height: 100vh;
	padding: 100px 50px;
}
.row{
	float: left;
	position: relative;
	width: 25%;
}
.paragraphe-competences{
	margin-bottom: 30px;
	margin-left: 0px;
	cursor: default;
	min-height: 50px;
}
.num-competence{
	color: #fff;
    display: block;
    margin-left: -50px;
    position: absolute;
	font-family: Ubuntu;
	font-size: 2em;
	margin-top: 0px;
}
.competence{
	background-color: #414141;
    padding: 10px 70px 10px 40px;
    margin: 10px -20px 10px 10px;
	font-family: Montserrat-Bold;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
}
.images-competences{
	margin: 0px;
	padding: 0px;
	margin-right: -60px;
    padding-top: 1%;
	margin-left: 10px;
	float: right;
}
.images-competences img{
	margin-left: 5px;
}

@media screen and (max-width: 1240px){
	body{
		overflow-y: visible;
	}
	h3{
		margin: 20px 0px 10px;
		min-height: 40px;
		text-align: center;
	}
	.row{
		float: left;
		position: relative;
		width: 100%;
	}
}
/* /Container */