@charset "utf-8";

body{
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("../img/backcreations.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center center;
}

/* Container */
h2{
	font-family: PermanentMarker;
	font-size: 6vw;
	margin-top: -40px;
	margin-bottom: 0px;
}
h3{
	font-family: PermanentMarker;
	font-size: 3vw;
	margin: -10px 0px -50px;
	min-height: 100px;
	text-align: left;
}
#container-creations{
	width: 100%;
	position: relative;
	height: 100vh;
	padding: 100px 20px;
}
.creations{
	height: 70px;
	width: 10%;
	margin: 10px;
	float: left;
	position: relative;
	display: inline-block;
	background-color: #414141;
	color: #fff;
	font-family: Raleway-Bold;
	padding: 10px;
	cursor: pointer;
}
.paragraphe-creations{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin-left: 50px;
}
.paragraphe-creations h3{
	margin-left: -50px;
}
.titre-creation{
	margin: 0px;
	padding: 0px;
}
.description-creation{
	font-family: Ubuntu;
	margin-left: 50px;
}


@media screen and (max-width: 1240px){
	body{
		overflow-y: visible;
	}
	h2{
		text-align: center;
	}
	h3{
		padding-top: 50px;
		text-align: center;
	}
	.creations{
		font-family: Raleway-Bold;
		height: 150px;
		width: 80%;
		cursor: default;
	}
	.description-creation{
		padding-bottom: 20px;
	}
}

/* /Container */