@charset "utf-8";

body{
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("../img/backetude.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center center;
}

/* Container */
h2{
	display: none;
}
#title{
	font-family: RubikMonoOne-Regular;
	font-size: 4vw;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
}
#moving-title{
	font-family: RubikMonoOne-Regular;
	color: black;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 0.5s steps(9, end) forwards;
}
#moving-title:after{
	content: '_';
	animation: blinking 1s infinite;
}
@keyframes typing {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinking {
from { color: transparent; }
to { color: black; }
}
#container-etude{
	width: 60%;
	position: relative;
	height: 100vh;
	padding: 100px 50px;
}
.paragraphe-etude{
	margin-bottom: 30px;
	margin-left: 50px;
	cursor: default;
}
.annee-etude{
	font-family: Raleway-Bold;
	padding: 10px 10px 0px;
}
.annee-competences{
	font-family: Ubuntu;
	padding: 10px 20px;
}

@media screen and (max-width: 1240px){
	body{
		overflow-y: visible;
	}
	.paragraphe-etude{
		background-color: rgba(255,255,255,0.8);
	}
}
/* /Container */