@charset "utf-8";

body{
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("../img/backexperiences.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center center;
}

/* Container */
h2{
	display: none;
}
#title{
	font-family: RubikMonoOne-Regular;
	font-size: 4vw;
	margin-top: 40px;
}
#moving-title{
	font-family: RubikMonoOne-Regular;
	color: black;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 0.5s steps(9, end) forwards;
}
#moving-title:after{
	content: '_';
	animation: blinking 1s infinite;
}
@keyframes typing {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinking {
from { color: transparent; }
to { color: black; }
}
h3{
	font-family: RubikMonoOne-Regular;
	font-size: 2vw;
	min-height: 100px;
	text-align: center;
	margin: -15px 0px -15px 0px ;
}
#stages{
	margin-top: 50px;
	width: 45%;
	float: left;
}
#postes{
	margin-top: 50px;
	width: 45%;
	float: right;
}
#container-experience{
	position: relative;
	height: auto;
	padding: 100px 50px;
}
.paragraphe-experience{
	margin-bottom: 30px;
	margin-left: 50px;
	cursor: default;
}
.annee-entreprise{
	font-family: Raleway-Bold;
	padding: 10px 10px 0px;
}
.annee-experience{
	font-family: Ubuntu;
	padding: 10px 20px;
}

@media screen and (max-width: 1240px){
	body{
		overflow-y: visible;
	}
	.paragraphe-experience{
		background-color: rgba(255,255,255,0.8);
	}
}
/* /Container */