@charset "utf-8";

/* Footer */
#footer{
	position: absolute;
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-color: rgba(20,20,20,0.7);
	color: rgb(255,255,255);
	padding: 0px 10px 0px 5%;
	margin-left: 95%;
	width: 100%;
	transition: ease 1s;
	z-index: 2;
	height: 60px;
	top: calc(100vh - 100px);
}
#footer:hover{
	margin-left: 0px;
	background-image: url("../img/arrowactive.png");
	height: 100px;
}
#mail{
	margin-left: 70px;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 33%;
	float: left;
}
#mail:hover{
	background-color: rgba(20,20,20,0.9);
}
#linkedin{
	margin-left: -100px;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 33%;
	float: left;
}
#linkedin:hover{
	background-color: rgba(20,20,20,0.9);
}
#discord{
	margin-left: -100px;
	display: flex;
    font-family: Montserrat-Bold;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 25%;
}
#discord:hover{
	background-color: rgba(20,20,20,0.9);
}
/* /Footer */